version: '3.8'
services:
  react-app:
    build: .
    container_name: react-app
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    command: sh -c "npm install && npm start"
    restart: always
    environment:
      - TZ=Asia/Jakarta

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock:rw
    restart: always
    privileged: true  # Opsional, tambahkan jika Jenkins memerlukan akses penuh
    environment:
      - TZ=Asia/Jakarta

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    restart: always
    environment:
      - TZ=Asia/Jakarta

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3001:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    restart: always
    environment:
      - TZ=Asia/Jakarta

volumes:
  jenkins_home:
  grafana_data:
